.card-top{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 65px;
}
.list{
    list-style-type: none;
}
.pag{
    display: flex;
    justify-content: center;
    align-items: center;
}